*,
*::before,
*::after {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body, html {
background-image: linear-gradient(77deg, #5dbeff 0%, #003a27 100%);
}
    
h1 {
color: #eee;
margin-bottom: 30px;
font-family: 'Concert One', cursive;
font-size: 70px;    
}

h2 {
font-family: 'Concert One', cursive;
font-size: 30px; 
color: white;   
}

/* <!-- 
==========
JUMBOTRON
==========
--> */


.jumbotronDescription {
margin-bottom: 20px;
}

.jumbotron {
background-color: rgba(173, 195, 255, .18);
box-shadow: 0 5px 15px -4px #1e0e4b;
border: 2px solid;
border-color: rgb(133, 106, 255);
margin-bottom: 0px;
padding-top: 10px;
padding-bottom: 10px;

}
    
.lead {
font-size: 32px;
font-family: 'Concert One', cursive;
color: white;
}



/* <!-- 
==========
CARDS
==========
--> */

#gridFlexId{
    display: flex;
align-items:center;
justify-content:center;
margin-left: 7rem;
}
.container {
padding: 40px;
margin: 0 auto;
text-align: center;

}
    
#animesList {
padding-inline-start: 0;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
grid-gap: 20px;
margin-top: 40px;
font-family: 'Concert One', cursive;

/* display: flex; */
}
    

.anime {
list-style-type: none;
background-color: rgba(191, 208, 255, 0.2);
border-radius: 7px;
padding: 10px 20px;
text-align: center;
display: flex;
align-items:center;
justify-content:center;
max-width: 70%;
}

.anime:hover {
border: 2px solid;
border-color: rgb(133, 106, 255);
color: white;
box-shadow: 0 5px 15px -4px #1e0e4b;
transform: translateY(-11px);
cursor: pointer;
}

img {
margin-top: 20px
}


/* <!-- 
==========
SEARCH
==========
--> */
#searchBar {
height: 62px;
border-radius: 3px;
border: 1px solid #eaeaea;
padding: 5px 10px;
margin-top: 10px;
font-size: 18px;
min-width: 430px;

}

.searchWrapper {
display: flex;
align-items:center;
justify-content:center;
text-align: center;
margin: 5px 10px;

}




